
.about {
    width: 60%;
    padding: 10px;
    margin: 90px auto;
}
.about-para {
    /*background-color: aquamarine;*/
    font-size: 20px;
    text-align: left;
    display: inline-block;
    width: 49%;
}
.heading-h {
    margin-top: 8rem;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2aa4cff;
}
.about-container {
    /*background-color: antiquewhite;*/
    text-align: right;
    display: inline-block;
    width: 49%;
}
.skill-section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.skills-writting {
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
.skills-h {
    margin-top: 3rem;
    color: #f2aa4cff;
}
.skills-p {
    color: rgb(109, 106, 103);
    width: 100%;
    text-align: center;
    margin: 10px auto ;
}
.tag {
    background-color: rgba(41, 68, 92, 0.171);
    border: 1px solid #696667ff;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    color: rgb(143, 138, 139);
    text-decoration: none;
    border-radius: 8px;
}
.tag:hover {
    background-color: rgb(24, 40, 54);
    transform: scale(1.2);
    box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);
}
.skills {
    height: 100vh;
}

.image-a {
    background-color: rgba(41, 68, 92, 0.171);
    text-align: center;
    border-radius: 7px;
    padding: 15px;
    margin:15px  ;
    box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);
}
.languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 2px;
    /*background-color: aquamarine;*/
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.image {
    background-color: rgba(41, 68, 92, 0.171);
    text-align: center;
    border-radius: 7px;
    padding: 15px;
    margin:15px  ;
    box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);
}
.image:hover {
    background-color: rgb(24, 40, 54);
}
