.works-info {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 28vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.work-h {
    color: #f2aa4cff;
    padding: 6px;
}
.work-p {
    color: rgb(100, 98, 97);
    font-size: 16px;
}