/* for  responsive-ness */
@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    .container {
        width: 90%;
        justify-content: left;
    }
    
    .nav {
        display: none; /* Hide the navigation on smaller screens */
    }
    .buttons {
        text-align: center;
    }
    /* Add more specific styles as needed */
}