* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: #101820ff ;
    /*cursor: url('cursor.png'), auto;*/
}
.container {
    align-content: center;
    margin-left: 40px;
    margin-top: 10px;
}
.nav {
    align-self: center;
    background-color: #f2aa4cff;
    border-radius: 100px;
    width: 50%;
    
}
ul {
    align-content: center;
    padding: 6px;
    display: flex;
    flex-direction: row;
    float: left;
}
li {
    padding: 6px;

}
li a {
    text-decoration: none;
    text-align: center;
}



footer{
    background-color: none;
    text-align: center;
}
footer p {
    color: #696667ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.social-icons {
    text-align: center;
}
.social-icons a {
    display: inline-block;
    color: #f2aa4cff;
    padding: 5px;
}
.social-icons a:hover {
    color: #696667ff;
}